#what {
    color: red;
}
/* # use for ID can be use once */
/* . use for class can be use multiple times */

.List-Blue{
    color: blue;
}
body{
    font-family: "Inter", sans-serif;
    background-color: rgb(255, 215, 122);
}

p{
    font-size: 14px;
    font-weight: 400;
}